script {
  display:none;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px;
  background-color: 
}

.logo {
  float: left;
  margin: auto auto auto 10px;
}

.menu-navbar {
  border: 2px solid #205264;
  box-sizing: border-box;
  margin: 0px auto;
  width: 185px;
  padding: 5px 10px;
  font-size: 0.75em;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #002060;
}