script {
  display:none;
}
body {
  font-family: 'Lato', sans-serif;
  color: #002060;
}
h1 {
  font-size: 1.75em;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header {
    grid-template-rows: 90px;
}
.logo {
  float: left;
  margin: auto auto auto 20px;
}
.menu-navbar {
  border: 2px solid #205264;
  box-sizing: border-box;
  margin: 0px auto;
  width: 185px;
  padding: 5px 10px;
  font-size: 0.75em;
}
.left-div {
  margin: auto auto auto 20px;
}
.right-div {
  margin: auto 20px auto 10px;
}
a {
  text-decoration: none;
  font-weight: 700;
  color: #002060;
}
.tick text {
  font-size: 0.85em;
  text-anchor: end;
}
.level text {
  text-anchor: end;
}
.bar {
  fill: #ffbf00;
  fill-opacity:0.4;
}
.bar-critical {
  fill: #ef4700;
  fill-opacity: 0.5;
}
.button {
  padding: 6px 18px;
  background: rgb(32, 82, 100);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.button-homepage {
  display: inline-block;
  text-align: center;
}
.button-submit {
  font-size: 1.5em;
}
.title {
  margin: 20px auto 0 20px;
}
#wrapper {
  margin-left: 30px;
  margin-right: 10px;
}
#test {
  padding-left: 20px;
}
.center-content {
  text-align: center;
}
hr {
  color: #92d050;
}
.result-disclaimer {
  margin: 20px;
}
.list {
  margin-left: 25px;
}
.list p {
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
}
h4 {
  margin-bottom: 5px;
}